.navbar {
  height: 100px;
  background-color: grey;
  z-index: 100;
}

.navbar nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.auth-links {
  margin-left: auto;
}

.auth-link {
  display: inline-block;
}

.menu-toggle {
  margin-left: auto;
  margin-right: 10px;
  display: none;
  cursor: pointer;
}

.menu-icon {
  position: relative;
  top: 4px;
}

@media screen and (min-width: 600px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  nav {
    padding: 0% 8%;
  }

  nav .auth-links {
    display: none;
  }

  .auth-link {
    margin: 20px;
    display: block;
  }

  .menu-toggle {
    display: flex;
    align-items: center;
  }
}

.menu {
  padding: 50px 0px;
  background-color: rgb(184, 184, 184);
  color: black;
  width: 100%;
  text-align: center;
  position: absolute;
}

.my-transition-enter {
  transform: translateX(-100%);
  opacity: 0;
}
.my-transition-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}
.my-transition-exit {
  transform: translateX(0);
  opacity: 1;
}
.my-transition-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}
